
@{
    ViewData["Title"] = "AboutUs";
}
<body style="background-color:lightcoral; text-align:center;">
<h1>AboutUs</h1><br />
<p style="background-color:lightyellow"> 
    The University of Cambridge is a collegiate research university in Cambridge, United Kingdom. Founded in 1209[9] and granted a royal charter by Henry III in 1231, Cambridge is the world's third-oldest surviving university.[10] The university grew out of an association of scholars who left the University of Oxford after a dispute with the townspeople.[11] The two English ancient universities share many common features and are often jointly referred to as Oxbridge.

Cambridge is ranked among the most prestigious universities in the world and currently sits as the world's second best university, and the best in Europe, according the QS World University Rankings.[12] Cambridge has won more Nobel Prizes than any other institution with 121 Nobel laureates.[13] The University's notable alumni and faculty also include 11 Fields Medalists, 7 Turing Award winners, 47 heads of state and 14 British prime ministers. As of 2016, University alumni had won 194 Olympic medals.[14]

Cambridge is formed from a variety of institutions which include 31 semi-autonomous constituent colleges and over 150 academic departments, faculties and other institutions organised into six schools. All the colleges are self-governing institutions within the university, each controlling its own membership and with its own internal structure and activities. All students are members of a college. The university does not have a main campus, and its colleges and central facilities are scattered throughout the city. Undergraduate teaching at Cambridge centres on weekly small-group supervisions in the colleges in groups of typically 1–4 students. This intensive method of teaching is widely considered the 'jewel in the crown' of an Oxbridge undergraduate education.[15][16][17][18][19] In addition, lectures, seminars, laboratory work and occasionally further supervisions are provided by the central university faculties and departments, while postgraduate teaching is also predominantly provided centrally. Degrees are conferred by the university, not the colleges.

By both endowment size and material consolidated assets, Cambridge is the wealthiest university in Europe.[20][21] In the fiscal year ending 31 July 2019, the central university, excluding colleges, had a total income of £2.192 billion, of which £592.4 million was from research grants and contracts.[4] At the end of the same financial year, the central university and colleges together possessed a combined endowment of over £7.1 billion and overall consolidated net assets (excluding 'immaterial' historical assets) of over £12.5 billion.[22] Cambridge University Press & Assessment combines the oldest university press in the world with one of the world's leading examining bodies, providing assessment to over eight million learners globally every year and reaching some fifty million learners, teachers and researchers monthly.[23] The university also operates eight cultural and scientific museums, including the Fitzwilliam Museum, as well as a botanic garden. Cambridge's libraries, of which there are over 100, hold a total of around 16 million books, around nine million of which are in Cambridge University Library, a legal deposit library. The university is home to, but independent of, the Cambridge Union – the world's oldest debating society. The university is closely linked to the development of the high-tech business cluster known as 'Silicon Fen', the largest technology cluster in Europe.[24] It is the central member of Cambridge University Health Partners, an academic health science centre based around the Cambridge Biomedical Campus.
</p>
<p>
    <h1  style="background-color:black">Education</h1>
    <img height:200px src="https://images-na.ssl-images-amazon.com/images/I/71ElOQqTsCL.jpg" /><br />
    Notable educationalists to have attended the university include the founders and early professors of Harvard University, including John Harvard himself; Emily Davies, founder of Girton College, the first residential higher education institution for women, and John Haden Badley, founder of the first mixed-sex public school (i.e. not public) in England; Anil Kumar Gain, 
    20th century mathematician and founder of the Vidyasagar University in Bengal, Siram Govindarajulu Naidu founder vice chancellor of Sri Venkateswara University and Menachem Ben-Sasson, Israeli President of Hebrew University of Jerusalem.
</p>
<p style="background-color:lightblue">
    <h1 style="background-color:black">Technology</h1>
   
    Cambridge has a long history of developing technological talent, boasting a rich list of companies founded by Cambridge alumni. Notably, the following alumni:

Demis Hassabis, co-founder and CEO of DeepMind, a British artificial intelligence subsidiary of Alphabet Inc behind the AlphaGo and AlphaFold breakthroughs in AI.
Sophie Wilson and Steve Furber, co-founders of ARM, a British semiconductor and software design company still based in Cambridge.
Sam Chaudhary, co-founder of ClassDojo, a San Francisco-based EdTech company connecting teachers with their students and families.
Philip Kwok, co-founder of EasyA, an EdTech company which gets students 1:1 academic help from tutors in minutes.
Rahul Vohra, founder of Superhuman, an email messaging app which reduces the time people need to spend on emails.
Herman Narula and Rob Whitehead, co-founders of Improbable, a British multinational company developing video game simulation software.
</p>
</body>
