
@{
    ViewData["Title"] = "ContactUs";
}

<h1>ContactUs</h1>
<form action="#">
    <table>
    
    <tr>
        <td>First Name &nbsp &nbsp &nbsp</td>
        <td><input type="text" name="Name" /></td>
   </tr>
   <tr>
        <td>Last Name &nbsp &nbsp &nbsp</td>
        <td><input type="text" name="Name" /></td>
   </tr>
   <tr>
        <td>Email &nbsp &nbsp &nbsp</td>
        <td><input type="Email" name="email" /></td>
   </tr>
   <tr>
        <td>Phone No &nbsp &nbsp</td>
        <td><input type="number" name="phoneno" /></td>
   </tr>
   <tr>
        <td>Your State &nbsp &nbsp &nbsp</td>
        <td><input type="text" name="state" /></td>
   </tr>
   <tr>
        <td>Your District &nbsp &nbsp &nbsp</td>
        <td><input type="text" name="district" /></td>
   </tr>
   <tr>
        <td>Tell Me About Your Self &nbsp &nbsp</td>
        <td><textarea type="txt" name="txt" rows="3" cols="20"></textarea></td>
   </tr>
   <tr>
        <td></td>
        <td><input type="Submit" value="Send" /></td>
   </tr>
   
  </table>
  
</form>

